body {
  background-color: bisque !important;
  font-family: "Oswald", sans-serif !important;
}
header img {
  width: 80%;
}
#meal-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.meal-item {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 7px gray;
  padding: 7px;
  text-align: center;
  background-color: honeydew;
}
.meal-item img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}
.meal-item img:hover {
  transform: scale(1.2);
}

ul {
  margin-left: 25%;
}
