header img{
    width: 70%;
}
#meal-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}
.meal-item{
width: 100%;
border: 1px solid;
padding: 5px;
text-align: center;

    
}
.meal-item img{
    width: 100%;
    object-fit:contain; 
    transition: transform 1s ease-in-out;   
}
/* .meal-item img:hover{
    transform: scale(1.2);
} */